body {
  display: flex;
  justify-content: center;
  background-color: lightsalmon;
  font-family: "Open Sans", sans-serif;
}

header {
  font-family: "Lobster", cursive;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px black;
}

button {
  background-color: black;
  color: white;
}
